$dark-grey:        #A8A8A8;

html{
	height: 100%;
}
body {
  font-size: 12px;
  background-color: #000000;
  position: relative;
  min-height: 100%;
  padding: 0;
  margin: 0;
}

h1, h2, h3 { margin: 0px; }

h2, h1{
	font-size:1.2em;
}

textarea { resize: none; }

.root {
  min-width: 1024px;
  min-height: 100%;
  padding: 0 10px;
  margin: 0;
  position: absolute;
  left: 210px;
  right: 210px;
}

header {

  height: 200px;
  position: relative;

  .logo {
    width: 200px;
    min-height: 100%;
    position: relative;
    float: left;
    background: #93c01f image-url("wws_logo.png") no-repeat center center;
  }

  .user-action {
    min-height: 75px;
    min-width: 180px;
    position: absolute;
    bottom: 0;
    left: 75%;
    border: 1px solid #000000;
  }
}

.content {
  background: #c3c1b4;
  min-height: 100%;
  min-width: 100%;
  padding: 10px;
  margin: 0;
  position: absolute;
}

.menu {
  font-size: 14px;
  position: fixed;
  left: 50px;
  top: 210px;
  min-width: 170px;
  min-height: 300px;

  .nav-tabs.nav-stacked > li > a {
    border: 0px;
    text-align: right;
    margin-right: 10px;
  }

  a {
    color: #93c01f;
  }
}

.right{
  text-align: right;
}

.left{
  text-align: left;
}

.center {
  text-align: center;
}

.btn-add {
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
}

.action-btn-add{
  margin-bottom: 10px;
}

.btn-add-file {
  margin-top: 10px;
}

.nested-fields {
  padding-top: 20px;
  width: 400px;
  border-bottom: 1px dotted $dark-grey;
  padding-bottom: 8px;
  .control-group{
    padding-bottom: 5px;
  }

  .btn-delete-file {
    margin-left: 15px;
  }
}

.form-horizontal .form-actions{
  @extend .clear-fix;
  padding: 11px;
  position: relative;
  @include border-radius(4px 4px 4px 4px);
  border: 1px solid #dddddd;
}

.form-horizontal .controls {
  margin: 0;
}

form .bootstrap-tip{
  padding-left: 118px;
}

form .required:after, form.simple_form th.required:after {
  color: #e32;
  content: ' *';
  display:inline;
}

form {
  .form-separator {
    margin: 0px 12px;
    float: left;

    label {
      display: inline-block;
    }

  }

  .form-separator.border{
    border-right: 1px solid $dark-grey;
    padding-right: 10px;
  }
}

.form-horizontal .control-label {
  padding-top: 0;
}

.facebook {
  position: fixed;
  left: 50px;
  bottom: 0px;
  min-width: 170px;
  min-height: 40px;
  background: #3B5998;
  color: #ffffff;
  text-align: center;
}
